<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header de E-commerce</title>
    <link rel="stylesheet" href="../../styles/components/header.css">
</head>
<body>

    <header>
        <div class="header_content">
            <div class="logo">
                <a href="#" target="_top">Senac Store</a>
            </div>

            <nav class="nav_menu">
                <ul>
                    <li><a href="../index.html" target="_top">Produtos</a></li>
                    <li><a href="#" target="_top">Novidades</a></li>
                    <li><a href="#" target="_top">Promoções</a></li>
                    <li><a href="#" target="_top">Ofertas</a></li>
                    <li><a href="#" target="_top">Blog</a></li>
                    <li><a href="#" target="_top">Ajuda</a></li>
                </ul>
            </nav>

            <div class="carrinho_header">
                <a href="#" target="_top">Carrinho (0)</a>
            </div>
        </div>
        
    </header>

</body>
</html>
